@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  background-color: rgb(228, 228, 228);
  margin: 0;
  padding-top: 50px;
}

.user-photo {
  height: 30px;
  border-radius: 100%;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 50px;
}

.container {
  width: 100%;
}

.dashboard {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 30px;
}

.dashboard-body {
  display: flex;
}

.standup-display {
  flex: 3;
}

.right-col {
  flex: 1;
}

.future-standup-card {
  background-color: #feece9;
  padding: 5px;
  margin: 5px;
}
