@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

body {
  background-color: white;
  margin: 0;
}

.user-photo {
  height: 30px;
  border-radius: 100%;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 50px;
}

.container {
  width: 100%;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 30px;
}

h3 {
  font-family: "Merriweather", serif;
}

.dashboard-body {
  display: flex;
  /* width: 80%; */
}

.standup-display {
  flex: 3;
}

.right-col {
  flex: 1;
}

.future-standup-card {
  background-color: #feece9;
  padding: 5px;
  margin: 5px;
}

header {
  /* width: 80%; */
  margin-top: 50px;
  text-align: left;
  /* margin: 0 auto; */
}

.page-content {
  width: 80%;
  margin: 0 auto;
  padding-top: 50px;
}

@media (orientation: landscape) {
  .mobile-new-standup {
    display: none;
  }
}

@media (orientation: portrait) {
  .page-content {
    padding-top: 80px;
    width: 100%;
  }
  .right-col {
    display: none;
  }
}
