#inputFieldsDashboard {
  display: flex;
}

.image {
  height: 50vh;
  background-color: aquamarine;
}

.media {
  display: flex;
  width: 100%;
  /* background-color: azure; */
}

td {
  padding: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}

td {
  border: 1px black solid;
  padding: 5px;
}
