@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

h1 {
  font-family: "Merriweather", serif;
  /* font-size: 50px; */
}

.navbar-logo {
  font-family: "Merriweather", serif;

  font-size: 20px;
  color: white;
  line-height: 0;
}

nav {
  background-color: #f76e11;
  padding: 10px;
  color: white;
  height: 50px;
  box-shadow: -4px 0 8px 0 rgba(0, 0, 0, 0.2);
}

.nav-user-photo {
  height: 30px;
  border-radius: 100%;
}

@media (orientation: portrait) {
  nav {
    height: 80px;
  }
  .navbar-logo {
    font-size: 30px;
  }
  .nav-user-photo {
    height: 50px;
  }

  p {
    font-size: 20px;
  }
}
