@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.card {
  background-color: #feece9;
  /* padding: 20px; */
  margin: 10px;
}

.card-title {
  font-family: "Merriweather", serif;
}

.notesdisplay > button {
  width: 100%;
}

.activity-header {
  display: flex;
}

.card-header {
  display: flex;
  outline-width: 0;
}

.container {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Merriweather Sans", sans-serif;
}

h3 {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 20px;
}

.edit-button {
  /* height: 50px; */
  margin: 0 20px;
  justify-content: right;

  /* flex: 1; */
  /* align-content: right; */
}

.activity {
  display: flex;
}

#notes-input {
  width: 100%;
}

#comment-input {
  width: 100%;
}

.card-subheader {
  font-family: "Merriweather", serif;
  font-size: 18px;
}
.activity-section {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
}

.single-activity {
  /* background-color: white; */
  margin: 5px;
  padding: 5px;
}

.activity-row {
  display: flex;
}

/* .activity-link {
  push: right;
} */

.edit-icon {
  margin: 0 10px;
  color: #fc4f4f;
}

.add-activity {
  margin-left: auto;
}

.meeting-link {
  margin-left: auto;
}
